@import "tailwindcss";
@custom-variant dark (&:is(.dark *));
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background-color: rgb(224, 224, 224);
}
.dark ::-webkit-scrollbar-track {
  background-color: rgb(47, 47, 53);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(167, 167, 167);
  border-radius: 8px;
}
.dark ::-webkit-scrollbar-thumb {
  background-color: #6b6b6b;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(104, 104, 104);
}

@theme{
    --color-cyan: oklch(78.9% 0.154 211.53);
    --color-emerald: oklch(76.5% 0.177 163.223);
    --color-cyan-light: #a5f3fc; 
    --color-cyan-dark: #083344; 

    --color-bgcolor: #FAFAFA;
    --color-bgcolorless: #F0F0F0;
    
    --color-textcolor: black;
    --color-textcolorless: oklch(45% 0.013 285.805);
    
    --color-lightgray: oklch(96.7% 0.001 286.375);
    --color-darkgray: oklch(37% 0.013 285.805);
    
    --color-bordercolor: oklch(92.8% 0.006 264.531);
    
    --color-gray: #bbbbbb;
    --color-bordercolor: #e2e8f0;

    --color-skills-card-bg-1: rgb(210, 250, 240);
    --color-skills-card-bg-2: rgb(230, 255, 250);

    --color-project-1: rgb(193, 204, 220);
    --color-project-2: oklch(91.7% 0.08 205.041);
    --color-project-3: #6EE7B7;
    --color-project-4: #ffdd88;
  }
  .dark{
    --color-cyan: oklch(78.9% 0.154 211.53);
    --color-emerald: oklch(76.5% 0.177 163.223);
    --color-cyan-light: #083344; 
    --color-cyan-dark: #a5f3fc; 
    
    --color-bgcolor: #212121;
    --color-bgcolorless: #2C2C2C;
    
    --color-textcolor: white;
    --color-textcolorless: oklch(90% 0.001 286.375);
    
    --color-lightgray: oklch(37.032% 0.01192 285.76);
    --color-darkgray: oklch(96.7% 0.001 286.375);
    
    --color-bordercolor: oklch(37.3% 0.034 259.733);
    
    --color-gray: #787878;
    --color-bordercolor: #334155;
    
    --color-skills-card-bg-1: rgb(36, 61, 56);
    --color-skills-card-bg-2: rgb(23, 69, 62);

    --color-project-1: #525f67;
    --color-project-2: oklch(52% 0.105 223.128);
    --color-project-3: #10B981;
    --color-project-4: #e9c568;
    
  }