.text-outline {
  color: transparent;
  -webkit-text-stroke: 1px var(--color-textcolor);
}
.code-block{
  animation: code-block-pulse-effect 5s 0.5s infinite ease-in-out;
}
@keyframes code-block-pulse-effect{
  0%{
    opacity: 0;
  }
  20%, 80%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}